.bank {
  &__img {
    position: relative;
    background-image: url('/images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url('/images/image-mockups.png');
      background-size: 94%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
  }
  &__text {
    text-align: center;
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.29rem;
    color: $darkBlue;
    line-height: 1.13;
  }
  p {
    line-height: 1.5;
  }
}