.footer {
  background-color: $darkBlue;
  color:$white;
  text-align: center;
  padding: 2.5rem;

  a {
    color:$white;
  }

  &__logo {
    margin-bottom: 1.87rem;
    display: inline-block;
  }

  &__slinks {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.87rem;
    a:not(:last-child) {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  &__flinks{
    
  }
  &.fcollum1 {
  }
  &.fcollum2 {
    margin-bottom: 1.87rem;
  }
  &__cta {
    a.button {
    margin-bottom: 1.87rem;
    }
  }

  &__cprgt {

  }


}